.myBtn {
	padding: 5px 15px;
	color: teal;
	background-color: aqua;
	cursor: pointer;
	border: none;
	border-radius: 3px;
}
.myBtn:disabled{
	color: rgba(0,0,0, 0.3);
	border: 1px solid rgba(0,0,0, 0.3);
}